beautifulsoup4==4.8.2
bencoding
ijson
mammoth
openpyxl
packaging==20.1
pillow-heif
PyCryptodome
simplekml
xmltodict
xlrd==1.2.0
PyMuPDF
openpyxl
pypdf
ijson
pillow-heif
mammoth
bencoding
pytz
requests
pdfminer.six