beautifulsoup4==4.8.2
bencoding
blackboxprotobuf
ijson
mammoth
openpyxl
packaging==20.1
pillow-heif
protobuf==3.10.0
PyCryptodome
PySimpleGUI
simplekml
xmltodict
xlrd==1.2.0
PyMuPDF
openpyxl
pypdf
ijson
pillow-heif
mammoth
bencoding
pytz